In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sbn

# Data Acquisition

In [7]:
menu_item = pd.read_csv("MenuItem.csv")

print(menu_item.head(5))

id  menu_page_id  price  high_price  dish_id               created_at  \
0   1          1389    0.4         NaN      1.0  2011-03-28 15:00:44 UTC
1   2          1389    0.6         NaN      2.0  2011-03-28 15:01:13 UTC
2   3          1389    0.4         NaN      3.0  2011-03-28 15:01:40 UTC
3   4          1389    0.5         NaN      4.0  2011-03-28 15:01:51 UTC
4   5          3079    0.5         1.0      5.0  2011-03-28 15:21:26 UTC

                updated_at      xpos      ypos
0  2011-04-19 04:33:15 UTC  0.111429  0.254735
1  2011-04-19 15:00:54 UTC  0.438571  0.254735
2  2011-04-19 19:10:05 UTC  0.140000  0.261922
3  2011-04-19 19:07:01 UTC  0.377143  0.262720
4  2011-04-13 15:25:27 UTC  0.105714  0.313178

In [8]:
dish = pd.read_csv("Dish.csv")

print(dish.head(5))

id                        name  description  menus_appeared  \
0   1  Consomme printaniere royal          NaN               8
1   2               Chicken gumbo          NaN             110
2   3         Tomato aux croutons          NaN              13
3   4             Onion au gratin          NaN              41
4   5                 St. Emilion          NaN              66

   times_appeared  first_appeared  last_appeared  lowest_price  highest_price
0               9            1897           1927          0.20            0.4
1             116            1895           1960          0.10            0.8
2              13            1893           1917          0.25            0.4
3              41            1900           1971          0.25            1.0
4              68            1881           1981          0.00           18.0

In [11]:
menu_page = pd.read_csv("MenuPage.csv")

print(menu_page.head(5))

id  menu_id  page_number image_id  full_height  full_width  \
0  119    12460          1.0  1603595       7230.0      5428.0
1  120    12460          2.0  1603596       5428.0      7230.0
2  121    12460          3.0  1603597       7230.0      5428.0
3  122    12460          4.0  1603598       7230.0      5428.0
4  123    12461          1.0  1603591       7230.0      5428.0

                                   uuid
0  510d47e4-2955-a3d9-e040-e00a18064a99
1  510d47e4-2956-a3d9-e040-e00a18064a99
2  510d47e4-2957-a3d9-e040-e00a18064a99
3  510d47e4-2958-a3d9-e040-e00a18064a99
4  510d47e4-2959-a3d9-e040-e00a18064a99

In [12]:
menu = pd.read_csv("Menu.csv")

print(menu.head(5))

id name                     sponsor                 event       venue  \
0  12463  NaN               HOTEL EASTMAN             BREAKFAST  COMMERCIAL
1  12464  NaN            REPUBLICAN HOUSE              [DINNER]  COMMERCIAL
2  12465  NaN  NORDDEUTSCHER LLOYD BREMEN  FRUHSTUCK/BREAKFAST;  COMMERCIAL
3  12466  NaN  NORDDEUTSCHER LLOYD BREMEN                LUNCH;  COMMERCIAL
4  12467  NaN  NORDDEUTSCHER LLOYD BREMEN               DINNER;  COMMERCIAL

                                place         physical_description occasion  \
0                     HOT SPRINGS, AR              CARD; 4.75X7.5;  EASTER;
1                    MILWAUKEE, [WI];   CARD; ILLUS; COL; 7.0X9.0;  EASTER;
2  DAMPFER KAISER WILHELM DER GROSSE;    CARD; ILLU; COL; 5.5X8.0;      NaN
3  DAMPFER KAISER WILHELM DER GROSSE;    CARD; ILLU; COL; 5.5X8.0;      NaN
4  DAMPFER KAISER WILHELM DER GROSSE;  FOLDER; ILLU; COL; 5.5X7.5;      NaN

                                               notes call_number  keywords  \
0                                                NaN   1900-2822       NaN
1  WEDGEWOOD BLUE CARD; WHITE EMBOSSED GREEK KEY ...   1900-2825       NaN
2  MENU IN GERMAN AND ENGLISH; ILLUS, STEAMSHIP A...   1900-2827       NaN
3  MENU IN GERMAN AND ENGLISH; ILLUS, HARBOR SCEN...   1900-2828       NaN
4  MENU IN GERMAN AND ENGLISH; ILLUS, HARBOR SCEN...   1900-2829       NaN

   language        date                    location  location_type currency  \
0       NaN  1900-04-15               Hotel Eastman            NaN      NaN
1       NaN  1900-04-15            Republican House            NaN      NaN
2       NaN  1900-04-16  Norddeutscher Lloyd Bremen            NaN      NaN
3       NaN  1900-04-16  Norddeutscher Lloyd Bremen            NaN      NaN
4       NaN  1900-04-16  Norddeutscher Lloyd Bremen            NaN      NaN

  currency_symbol    status  page_count  dish_count
0             NaN  complete           2          67
1             NaN  complete           2          34
2             NaN  complete           2          84
3             NaN  complete           2          63
4             NaN  complete           4          33

# Data Filtering

# Data Parsing

# Data Mining

# Data Representation

# Data Refining

# Data interaction