In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sbn

# Data Acquisition

In [3]:
menu_item = pd.read_csv("MenuItem.csv")

menu_item.head(5)

,id,menu_page_id,price,high_price,dish_id,created_at,updated_at,xpos,ypos
0,1,1389,0.4,NaN,1.0,2011-03-28 15:00:44 UTC,2011-04-19 04:33:15 UTC,0.111429,0.254735
1,2,1389,0.6,NaN,2.0,2011-03-28 15:01:13 UTC,2011-04-19 15:00:54 UTC,0.438571,0.254735
2,3,1389,0.4,NaN,3.0,2011-03-28 15:01:40 UTC,2011-04-19 19:10:05 UTC,0.140000,0.261922
3,4,1389,0.5,NaN,4.0,2011-03-28 15:01:51 UTC,2011-04-19 19:07:01 UTC,0.377143,0.262720
4,5,3079,0.5,1.0,5.0,2011-03-28 15:21:26 UTC,2011-04-13 15:25:27 UTC,0.105714,0.313178

In [4]:
dish = pd.read_csv("Dish.csv")

dish.head(5)

,id,name,description,menus_appeared,times_appeared,first_appeared,last_appeared,lowest_price,highest_price
0,1,Consomme printaniere royal,NaN,8,9,1897,1927,0.20,0.4
1,2,Chicken gumbo,NaN,110,116,1895,1960,0.10,0.8
2,3,Tomato aux croutons,NaN,13,13,1893,1917,0.25,0.4
3,4,Onion au gratin,NaN,41,41,1900,1971,0.25,1.0
4,5,St. Emilion,NaN,66,68,1881,1981,0.00,18.0

In [5]:
menu_page = pd.read_csv("MenuPage.csv")

menu_page.head(5)

,id,menu_id,page_number,image_id,full_height,full_width,uuid
0,119,12460,1.0,1603595,7230.0,5428.0,510d47e4-2955-a3d9-e040-e00a18064a99
1,120,12460,2.0,1603596,5428.0,7230.0,510d47e4-2956-a3d9-e040-e00a18064a99
2,121,12460,3.0,1603597,7230.0,5428.0,510d47e4-2957-a3d9-e040-e00a18064a99
3,122,12460,4.0,1603598,7230.0,5428.0,510d47e4-2958-a3d9-e040-e00a18064a99
4,123,12461,1.0,1603591,7230.0,5428.0,510d47e4-2959-a3d9-e040-e00a18064a99

In [6]:
menu = pd.read_csv("Menu.csv")

menu.head(20)

,id,name,sponsor,event,venue,place,physical_description,occasion,notes,call_number,keywords,language,date,location,location_type,currency,currency_symbol,status,page_count,dish_count
0,12463,NaN,HOTEL EASTMAN,BREAKFAST,COMMERCIAL,"HOT SPRINGS, AR",CARD; 4.75X7.5;,EASTER;,NaN,1900-2822,NaN,NaN,1900-04-15,Hotel Eastman,NaN,NaN,NaN,complete,2,67
1,12464,NaN,REPUBLICAN HOUSE,[DINNER],COMMERCIAL,"MILWAUKEE, [WI];",CARD; ILLUS; COL; 7.0X9.0;,EASTER;,WEDGEWOOD BLUE CARD; WHITE EMBOSSED GREEK KEY ...,1900-2825,NaN,NaN,1900-04-15,Republican House,NaN,NaN,NaN,complete,2,34
2,12465,NaN,NORDDEUTSCHER LLOYD BREMEN,FRUHSTUCK/BREAKFAST;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,CARD; ILLU; COL; 5.5X8.0;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, STEAMSHIP A...",1900-2827,NaN,NaN,1900-04-16,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,2,84
3,12466,NaN,NORDDEUTSCHER LLOYD BREMEN,LUNCH;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,CARD; ILLU; COL; 5.5X8.0;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, HARBOR SCEN...",1900-2828,NaN,NaN,1900-04-16,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,2,63
4,12467,NaN,NORDDEUTSCHER LLOYD BREMEN,DINNER;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,FOLDER; ILLU; COL; 5.5X7.5;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, HARBOR SCEN...",1900-2829,NaN,NaN,1900-04-16,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,4,33
5,12468,NaN,CANADIAN PACIFIC RAILWAY COMPANY,[DINNER],COMMERCIAL,R.M.S. EMPRESS OF CHINA,CARD; ILLUS; COL; 4.75X7.25;,NaN,"ILLUS, RED AND WHITE CHECKERED FLAG;",1900-2831,NaN,NaN,1900-04-16,Canadian Pacific Railway Company,NaN,NaN,NaN,complete,2,37
6,12469,NaN,HOTEL NETHERLAND,SUPPER,COMMERCIAL,"NEW YORK, [NY];",CARD; ILLUS; COL; 6.0X8.75;,NaN,HOTEL CREST IN BLUE; PRICED MENU;,1900-2838,NaN,NaN,1900-04-16,Hotel Netherland,NaN,Dollars,$,complete,2,144
7,12470,NaN,NORDDEUTSCHER LLOYD BREMEN,FRUHSTUCK/BREAKFAST,COMMERCIAL,SCHNELLDAMPFER KAISER WILHELM DER GROSSE;,BROADSIDE; ILLUS; COL; 5.5X8.50;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, LIGHTHOUSE;...",1900-2839,NaN,NaN,1900-04-17,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,2,80
8,12471,NaN,NORDDEUTSCHER LLOYD BREMEN,LUNCH,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,BROADSIDE; ILLUS; COL; 5.5X8.50;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, SAILING SHI...",1900-2840,NaN,NaN,1900-04-17,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,2,67
9,12472,NaN,NORDDEUTSCHER LLOYD BREMEN,[DINNER],COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,FOLDER; ILLUS; COL; 5.5X7.5;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, HARBOR; LIG...",1900-2841,NaN,NaN,1900-04-17,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,4,29
10,12473,NaN,HOTEL MARLBOROUGH,CAFE LUNCHEON,COMMERCIAL,"[NEW YORK, NY]",CARD; ILLUS; COL; 4.25X5.5;,NaN,HOTEL CREST IN BLUE;,1900-2843,NaN,NaN,1900-04-17,Hotel Marlborough,NaN,NaN,NaN,complete,2,19
11,12474,NaN,ALPHA OF ZETA PSI,ANNUAL BANQUET,COMMERCIAL,"DELMONICO'S, [NEW YORK, NY];",BOOKLET; ILLUS; COL; 5.5X7.0;,NaN,VELLUM COVER; CREST OF ZETA PSI; TIED WITH BLU...,1900-2844,NaN,NaN,1900-04-17,Alpha Of Zeta Psi,NaN,Dollars,$,complete,12,38
12,12475,NaN,MANHATTAN HOTEL,DINNER,COMMERCIAL,"NEW YORK, NY",CARD; ILLUS; 6X9.5;,NaN,A LA CARTE DU JOUR; HOTEL SEAL AT TOP OF MENU;,1900-2847,NaN,NaN,1900-04-18,Manhattan Hotel,NaN,Dollars,$,complete,2,176
13,12476,NaN,PACIFIC MAIL STEAMSHIP COMPANY,DINNE,COMMERCIAL,"S.S. ""CITY OF PARA""",FOLDER; ILLUS; 6X9.25;,NaN,DECORATIVE BORDER;,1900-2849,NaN,NaN,1900-04-18,Pacific Mail Steamship Company,NaN,NaN,NaN,complete,4,21
14,12477,NaN,OCCIDENTAL & ORIENTAL,BREAKFAST,COMMERCIAL,"S.S. ""DORIC""",BROADSIDE; ILLUS; 5.5X8.5;,NaN,HANDWRITTEN; STEAMSHIP COMPANY FLAG AT TOP OF ...,1900-2851,NaN,NaN,1900-04-18,Occidental & Oriental,NaN,NaN,NaN,complete,2,24
15,12478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900-04-18,Occidental & Oriental,NaN,NaN,NaN,complete,2,24
16,12479,NaN,OCCIDENTAL & ORIENTAL STEAMSHIP COMPANY,DINNER,COMMERCIAL,"S.S. ""DORIC""",FOLDER; ILLUS; 5.5X8.5;,NaN,HANDWRITTEN; MARITIME INSIGNIA ON COVER;,1900-2852,NaN,NaN,1900-04-18,Occidental & Oriental Steamship Company,NaN,NaN,NaN,complete,4,44
17,12480,NaN,CANADIAN PACIFIC RAILWAY COMPANY,BREAKFAST,COMMERCIAL,"R.M.S. ""EMPRESS OF CHINA""",CARD; ILLUS; COL; 4.5X7;,NaN,MENU ITEMS NUMBERED; COMPANY FLAG AT TOP OF MENU;,1900-2854,NaN,NaN,1900-04-18,Canadian Pacific Railway Company,NaN,NaN,NaN,complete,2,37
18,12481,NaN,CANADIAN PACIFIC RAILWAY COMPANY,LUNCHEON,COMMERCIAL,"R.M.S. ""EMPRESS OF CHINA""",CARD; ILLUS; COL; 4.5X7;,NaN,MENU ITEMS NUMBERED; COMPANY FLAG AT TOP OF MENU;,1900-2855,NaN,NaN,1900-04-18,Canadian Pacific Railway Company,NaN,NaN,NaN,complete,2,42
19,12482,NaN,NOVIOMAGUS,DINNER,NaN,"FREEMASONS' TAVERN, [LONDON, ENGLAND]",CARD; 4.25X6.25;,NaN,FRENCH; [LOCATION INFO HANDWRITTEN ON BACK OF ...,1900-2856,NaN,NaN,1900-04-18,Noviomagus,NaN,NaN,NaN,complete,2,16

# Data Filtering

In [7]:
# Combining All the csv files to form a single dataset

menu_item.join(dish,how="outer",lsuffix='dish_id', rsuffix='id')
menu_item.head()

,id,menu_page_id,price,high_price,dish_id,created_at,updated_at,xpos,ypos
0,1,1389,0.4,NaN,1.0,2011-03-28 15:00:44 UTC,2011-04-19 04:33:15 UTC,0.111429,0.254735
1,2,1389,0.6,NaN,2.0,2011-03-28 15:01:13 UTC,2011-04-19 15:00:54 UTC,0.438571,0.254735
2,3,1389,0.4,NaN,3.0,2011-03-28 15:01:40 UTC,2011-04-19 19:10:05 UTC,0.140000,0.261922
3,4,1389,0.5,NaN,4.0,2011-03-28 15:01:51 UTC,2011-04-19 19:07:01 UTC,0.377143,0.262720
4,5,3079,0.5,1.0,5.0,2011-03-28 15:21:26 UTC,2011-04-13 15:25:27 UTC,0.105714,0.313178

# Data Parsing

# Data Mining

# Data Representation

### Maps Visualization

In [37]:
from geopy.geocoders import Nominatim

menu1= menu.values.tolist()

for i in range(100):

    try:
        location = menu1[i][5]
        location=location[:-1]
        
    except:
        continue
    locations.append(location)

locator = Nominatim(user_agent="H")

coors = []

for i in range(100):

    try:
        locate = locator.geocode(locations[i])
        coors.append([locate.latitude,locate.longitude])
    except:
        continue


print(coors)
print(len(coors))

[[24.1053166, 55.7491741], [40.7127281, -74.0060152], [40.7050005, -74.0102731], [40.7127281, -74.0060152], [55.9508879, -3.1905922], [24.1053166, 55.7491741], [40.7127281, -74.0060152], [40.7050005, -74.0102731], [40.7127281, -74.0060152], [55.9508879, -3.1905922], [24.1053166, 55.7491741], [40.7127281, -74.0060152], [40.7050005, -74.0102731], [40.7127281, -74.0060152], [55.9508879, -3.1905922], [24.1053166, 55.7491741], [40.7127281, -74.0060152], [40.7050005, -74.0102731], [40.7127281, -74.0060152], [55.9508879, -3.1905922], [24.1053166, 55.7491741], [40.7127281, -74.0060152], [40.7050005, -74.0102731], [40.7127281, -74.0060152], [55.9508879, -3.1905922], [55.9508879, -3.1905922], [40.7127281, -74.0060152], [7.9768, 8.7127], [48.2083537, 16.3725042], [42.635008897987646, -73.73941720239189], [46.6083443, 6.2310684], [18.4520035, -66.07145997812117], [43.8119467, 3.8133382]]
(43.8119467, 3.8133382)

In [43]:
import folium

print(len(coors))
map = folium.Map(location=[40.7127281, -70.0060152], zoom_start=12)
for point in range(0, len(coors)):
    print("hi")
    folium.Marker(coors[point]).add_to(map)

map

33
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

# Data Refining

# Data interaction